

/* @font-face {
    font-family:gilroy ;
    src: url(font/Gilroy-ExtraBold.ttf);
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: serif;
}
html,body{
    height: 100%;
    width: 100%;
  
}
#main{
    position: relative;
    width: 100%;
    
    height: 100%;

}
/* loder */
#fs{

  position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: black;
    color: white;
}

#elem{

    width: 100%;
    height: 0px;
    position: absolute;
    z-index: 999;
    bottom: 0;
    background-color: #12cf93;
}
.maz{
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-style: italic; */
    font-weight: 100;
    color: #12cf93;
}


/* text animation */
#fs #topheading{
    position: absolute;
    top: 5%;
    left:50%;
    transform: translate(-50%,0);
   
    
}
#topheading h5{
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}
#fs h1{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3vw;
    font-weight: 500;
}
#fs h1 span{
    /* font-family: mazius; */
    font-family:mazius;
}
.revel .parent .child{
    display: block;
    /* transform: translateY(-70%); */
}
.parent .child span{
    display: inline-block;
}
.revel .parent {
    display:flex;
    justify-content: center;
    overflow-y: hidden;
    width: 100%;

}

/* part2--------------------- */
#home{
    width: 100%;
    /* height: 150vh; */
    /* background-color: #f0f0f0; */
    
}
#home #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 5vw;
    width: 100%;
    height: 100px;
  
}
#nav a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 12px;
    color: black;
    position: relative;
}
/* line animation */
#nav a #line1,#line2{
    display: inline-block;
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: #000;
   
}
#line1{
    left: 0;
    width: 0%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
  transition-delay: .1s;
}
#line2{
    right: 0;
    width: 100%;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
#nav a:hover #line1{
    width: 100%;
    
}

#nav a:hover #line2{
    width: 0;
}
/* //desiner part */
.row{
    margin-top: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #333;
    padding: 0 7vw;
    line-height: 1.2;
    padding-right: 12vw;

}
.row h1{
    font-size: 12vw;
    font-weight: 500;
}
.row .text{

    margin-top: 0vw;

}
.row h5{
    opacity: 6;
    font-style: 11px;
    font-weight: 500;
}
.row:nth-child(3){
    
    margin-top: 0;}


/* visual svg  */
.row svg{
     height:9vw;
     /* ? */
/* padding: 0 4vw; */
margin: 0 2.5vw;



   }
   path,polyline{
    stroke: #12cf93;
   }

   /* crads section */
   #imaginary{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22vw;
    width: 100%;
    padding: 5vw 7vw;

   }
   #imaginary #img-left{
    width:30%;
    height: auto;

   }

  #img-left h1{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8vw;
    letter-spacing:1px;
    color: black;
}
#img-left h1 span{
    color: #12cf93;
    font-style: italic;
    font-family:"mazius Review 20.09";
    font-weight: 100;
}
.img-right{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    width: 60%;
    background-color: yellow;
}
.img-right .imgcontnr{
    position: absolute;
    z-index: 999;
    width: 27vw;
    height:40vw;
    border-radius: 1vw;
    /* grey img */
    filter: grayscale();
    background-color: red;
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
}
.img-right .imgcontnr:hover{
    filter: grayscale(0);
}
.img-right .imgcontnr:nth-child(1){
    transform: translate(-40%,-8%) rotate(-20deg);
    background-image: url(images/card1.a0552dbc.png);
    background-color: yellow;
    background-size: cover;
    background-position: center;
}
.img-right .imgcontnr:nth-child(2){
    transform: translate(-15%,0%) rotate(-15deg);
    background-image: url(images/card3.b705d81b.png);
    background-color: #fff;
    background-size: cover;
    background-position: center;
}
.img-right .imgcontnr:nth-child(3){
    transform: translate(20%,10%) rotate(-5deg);
    background-image: url(images/WhatsApp\ Image\ 2025-03-08\ at\ 20.47.27_30ba1591.jpg);
    background-color: green;
    background-size:cover;
    background-position: center;
  
}

#work{
    transition:  background-color cubic-bezier(0.19,1,0.22.1) 2s;
    position: relative;
    width:100% ;
    min-height: 70vh;
    margin-top: 8vw;
    background-color: #f2f2f2;
}
#work::before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 150px;
    background-image: url(https://abhishekjha.me/rip.f6d7c4dd.svg);
    top:-75px;
    transform:rotate(-180deg);
    background-size: cover;

}

.littelintro{
    display: flex;
    gap: 4rem;
    height:20rem;
    border-bottom: 0.1px solid gray;
   padding:5rem ;
    margin: 10%;

}

.svgright{
    align-self: flex-end;
   
   

}
.svgright span{
    font-size:13px;
    font-style: italic;
    color: grey;
    text-transform: uppercase;   
}
.svgright p{
    margin-top: 1rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;    
}


#work .workrow{
    padding: 0 12vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.workrow h1{
    font-size: 8vw;
    font-weight: 600;

}   

.o-ui-arrow path{ 
    stroke: rgba(65,65,65.3);
  

}
.o-ui-arrow:nth-child(1){
    transform: rotate(0deg);
}
.o-ui-arrow{
    transform: rotate(90deg);
}


/* parallx cards edits */
#images,.images3{
    
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    margin-top:6vw;
    width: 100%;
    position: relative;
    padding: 0 5vw;
}
.images2{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top:7vw;
    width: 100%;
    position: relative;
    padding: 0 5vw;
   

}

.cnt{

    overflow: hidden;
    border-radius:50px;

}
.cnt img{
    width: 105%;
    transition: filter cubic-bezier(0.19,1,0.22,1) 2s;
}
.cnt1{
    width:55%;
}

.cnt2{
    width:28%;
}
.cnt3{
    width: 50%;
}
.cnt4{
    width:30%;
}

.cnt5{
    width:45%;
    
}
.cnt-about{
    display: flex;
    align-items: center;
    width: 30%;
    height: 15%;
   position: absolute;
    margin-top: -8rem;
    margin-left:2rem;
    gap: 12px;
 }

 .cnt-name{
   
    background-color:white;
    width:10rem;
    height: 3.8rem;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 2rem;
    color: #201f1f;
   font-size: 2rem;
    text-align: center
 }
 
.cnt-svg{
   
    background-color:white;
    height: 4rem;
    align-items: center;
    border-radius:50%;
    width:4rem;
    text-align: center
    

 }
 .cnt-svg #arrow{
   
    height: 2.5rem;
    padding: 3px;
  margin: 10px;
   
 }



/* cursor hover animation----------------------------- */
#cursor{
    position: fixed;
    width: 17vw;
    top: 138vw;
    left: 0;
    z-index: 999999;
}
#cursor div:nth-child(3){
   top:200vw;
   position: fixed;
}
#cursor div:nth-child(4){
    top:240vw;
    position: fixed;
 }

 #cursor div:nth-child(5){
    top:230vw;
    position: fixed;
 }
 

#cursor>div{
    opacity: 0;
    position: absolute;
    transition: all cubic-bezier(0.19,1,0.22,1) 1s;
    pointer-events: none;
}

#elemt{
    width: 100%;
    position: relative;
}
#cursor .crow{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding:.7vw;
}
.crow .ccircle{
  
    width: 2vw;
    height: 2vw;
    border: 2px solid #fff;
    border-radius: 50%;
}
.crow .ccapsule{
    padding: .7vw 3vw;
    border-radius: 100px;
    background-color:white;
    margin-bottom: 1rem;
}
#elemt img{
    width: 100%;
    border-radius: 10px;
    opacity: 0;
    animation: an 4s linear infinite;
    position: absolute;
}
#elemt img:nth-child(2){
    animation-delay: 1s;

}
#elemt img:nth-child(3){
    animation-delay: 2s;

}
#elemt img:nth-child(4){
    animation-delay: 3s;

}
#elemt img:nth-child(5){
    animation-delay: 4s;

}

@keyframes an {
    0%{
        opacity: 1;
    }
    20%{
        opacity: 1;
    }
    21%{
        opacity: 0;
    }
    40%{
        opacity: 0;
    }
    60%{
        opacity: 0;
    }
    80%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }

}
/* imag cursour hover anaimation end? */