*{
    padding: 0;margin: 0;
}
html,body{
    width: 100%;
    height: 100%;

}
#main-gc{
    width: 100%;
    height: 100vh;

}
.one-blank{
    width: 100%;
    height: 100vh;
    background-color: black;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.d-flex-c{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}





.main-section{
    width: 100%;
    height: 100vh;
    color: wheat;
  
}
.main-section h2{
    padding:1vw 2vw;
    font-size: 2vw;
    border: 1px solid #fff;
    border-radius: 50px;
    font-weight:100;
    filter: blur(5px);
   opacity: 0;
   transition:all cubic-bezier(0.19,1,0.22,1) 2s;
}
.skills{
    width: 100%;
  gap:2vh;
  /* background-color: red; */
  flex-wrap: wrap;

  padding: 0vw 5vw;
}